FUCKKKFAHHHH

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #801923; 
    color: white;
}


.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 40px;
    padding: 50px;
    background-color: #801923;
}


.contact-image {
    width: 300px;
    height: 400px;
    background: #eea79c;
    padding: 10px;
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}


.info-box {
    background-color: #de837b;
    padding: 5px;
    border-radius: 5px;
}

.info-box h3 {
    margin-top: 0;
}



@media screen and (max-width: 500px) {
    .contact-section {
        flex-direction: column;
        text-align: center;
        background-color: #801923; 
    }

    .contact-info {
        max-width: 100%;
    }
}
