*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #801923;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh; 
    position: relative;
}


.top-capsule{
    background-color: #de837b;
    color: white;
    padding: 8px 30px; 
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.middle-capsule{
    background-color: #eea79c;
    color: white;
    padding: 20px 50px; 
    border-radius: 40px;
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.middle-capsule::before{
    content: "★ ✧ ★ ✧";
    color: white;
    font-size: 18px;
    position: absolute;
    top: -25px;
    left: 10px;
}

.middle-capsule::after{
    content: "★ ✧ ★ ✧";
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    right: 10px;
}

/* NAV BAR */
.nav-bar {
    background-color: #de837b;
    border-radius: 30px;
    padding: 10px 30px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* Hamburger */
#nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    color: white;
    background-color: #de837b;
    padding: 8px 14px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 15px 40px;
    }

    #nav-toggle:checked + .hamburger + .nav-bar {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
